<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Auth-Lal10</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <a id="home" href="/">HOME</a>
    <a id="login" href="/login">LOGIN</a>
    <a id="signup" href="/signup">SINGUP</a>
</header>