<%- include('partials/header') %>
    <div class="landing">
        <div id="heading">The Bauhaus,</div>
        <div id="desc">6 MOST ICONIC DESIGNS</div>
        <a id="call" href="/user:id">VIEW DESIGNS</a>
    </div>
<%- include('partials/footer') %>