<a href="/">HOME</a>
<a href="/login">LOGIN</a>
<a href="/signup">SINGUP</a>
<a href="/logout">LOGOUT</a>
<div id="username">Hi <%= user.username%>, You are logged in.</div>
<div>Authenticated Content</div>
<%- include('partials/footer')  %>