<%- include('partials/header') %>
<div class="container">
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form id="signup-form" class="form-container">
                <label for="firstname"></label>
                <input type="text" name="firstname" placeholder="Firstname" >
                <div id="fnameErr" class="errortext"></div>
                <label for="lastname"></label>
                <input type="text" name="lastname" placeholder="Lastname" >
                <div id="lnameErr" class="errortext"></div>
                <label for="username"></label>
                <input type="text" name="username" placeholder="Username" >
                <div id="unameErr" class="errortext"></div>
                <label for="email"></label>
                <input type="email" name="email" placeholder="Email" >
                <div id="emailErr" class="errortext"></div>
                <label for="password"></label>
                <input type="password" name="password" placeholder="Password" >
                <div id="passErr" class="errortext"></div>
                <button type="submit">SIGN UP</button>
        </form>
    </div>
</div>

<script>
const form = document.getElementById('signup-form');
form.addEventListener('submit', async (element)=> {
    element.preventDefault();
    const firstname = form.firstname.value;
    const lastname = form.lastname.value;
    const username = form.username.value;
    const email = form.email.value;
    const password = form.password.value;

    try {
        const result = await fetch('/signup', {
            method: 'POST',
            body: JSON.stringify({ firstname, lastname, username, email, password}),
            headers: { 'Content-Type' : 'application/json' }
        })
        console.log("result", result);
        
        const user = await result.json();
        console.log("user", user);
        
        if(user.errors) {
            document.getElementById('fnameErr').textContent = user.errors.firstname;
            document.getElementById('lnameErr').textContent = user.errors.lastname;
            document.getElementById('unameErr').textContent = user.errors.username;
            document.getElementById('emailErr').textContent = user.errors.email;
            document.getElementById('passErr').textContent = user.errors.password;
        }
        if(user.id) {
            location.assign(`/user:${user.id}`);
        }
    } catch(err) {
        console.log(err)
    }
})
</script>
<%- include('partials/footer') %>